body {background-image: url('../assets/images/toby-osborn-uURfDZ-ZYbk-unsplash.jpg');
     background-position: top;background-size: cover;background-repeat: no-repeat;
    align-items: center;text-align: center;margin-top: 15%;
    line-height: 0.9;}

table, th, td {border:1px solid black;
    border-collapse: collapse;}
    table {width: 100%;min-height: 350px;border: 2px solid black; }
.blue {background-color: rgb(65, 94, 180);color: white;}
.uniform {column-width: 30%;text-align: left; margin: 5px;padding-left: 5px;}
.blank {column-width: 10px}
.left {text-align: left}
.right {text-align: right}
#heading {color: white; text-align: center;}
.white {color: white;}
.input {width:24%;box-sizing: border-box;margin: 3px 0;padding: 7px 4px 4px 30px;
        border-radius: 2px; 
        background-repeat: no-repeat;background-position: 10px 10px
        background-color: white;}
#login {background-color: rgb(99, 124, 235);
    width:24%;
    border: none;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;}
.facebook  {background-color: rgb(43, 43, 202);
    width: 12%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 2px;
    cursor: pointer;}
.instagram  {background-color: rgb(158, 21, 105);
    width: 12%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 2px;
    cursor: pointer;}
 a {color: blue}